@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  font-family: "Quicksand";
}
.nav {
  background-color: #fafafa;
  height: 60px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #e9e520;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-item {
  color: #1b1b1b;
  text-decoration: none;
}

.nav-item:hover {
  color: #b1d319;
}

.main {
  background-color: #fff;
  padding: 50px;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.main {
  background-color: #979797;
  padding: 50px;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-content {
  flex: 1;
  padding-right: 50px;
}

.main-heading {
  font-size: 2rem;
  margin-top: 0;
  color:azure;
}

.main-description {
  font-size: 1rem;
  color:azure;
}

.main-image {
  display: block;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}